
<div class="musicplayer">

    <h2>Music Player</h2>

    <div class="music-container" id="music-container">

        <div class="music-info">
            <h4 id="title">track1</h4>

            <div class="progress-container" id="progresscontainer">
                <div class="progress" id="progress"></div>
            </div>

        </div>

        <audio src="music/track1.mp3" id="audio"></audio>

        <div class="img-container">

            <img src="img/track1.jpg" alt="music-cover" id="cover"/>
    
        </div>

        <div class="navigation">

            <button id="prev" class="action-btn">
                <i class="fas fa-backward"></i>
            </button>


            <button id="play" class="action-btn action-btn-big">
                <i class="fas fa-play"></i>
            </button>


            <button id="next" class="action-btn">
                <i class="fas fa-forward"></i>
            </button>

        </div>

        </div>

    </div>
