@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}


html {
  font-size: 59%;
  scroll-behavior: smooth;
}

li,
p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

.row {
  margin: 0;
}

.navbar-style {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

#logo {
  display: initial;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fd5c63;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  font-size: 1.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fd5c63;
}

/* our hero sections  */

.hero-text h1 {
  font-size: 5.5rem;
  line-height: 1.5;
  text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
  letter-spacing: 1px;
  color: #2f2f2f;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
  font-weight: bold;
  color: #5222d0;
}

.hero-text p,
.our-services p,
label {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #777676;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.hero-text p span {
  font-weight: bold;
  color: #000;
}

.btn-style {
  padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: #ec615b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

/* Contact us style starts  */

.contact-style .main-heading {
  font-size: 5rem;
  color: #fd5c63;
  letter-spacing: 1px;
  font-weight: bold;
}

.contact-style .sub-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 2;
  color: #333;
  font-weight: 500;
}


.contact-style {
  margin: 10rem 0;
}

label {
  margin-top: 2rem;
  margin-bottom: 0;
}

.form-control {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

#emailHelp,
::placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-weight: 600;
}



/* media queries part starts here  */

@media (max-width: 768px) {
  #logo {
    font-size: 2.5rem;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  figure {
    margin: 5rem 0;
  }

  figure img {
    min-width: 100%;
  }

  .hero-text p,
  label {
    font-size: 1.5rem;
  }

  .contact-style .sub-heading {
    font-size: 2rem;
  }
}

/* music player section begins */

.musicplayer{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.music-container{
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 20px 20px 0 rgba(252,169,169,0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;

}

.img-container{
  position: relative;
  width: 110px;
}

.img-container img{
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img{
  animation-play-state: running;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn{
  background-color: white;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.action-btn.action-btn-big{
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus{
  outline: none;
}

.music-info{
  background-color:	rgb(139,69,19);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  padding: 10px 10px 10px 150px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  transition: transform .3s ease-in, opacity .3s ease-in;
  z-index: 0;
}

.music-container.play .music-info{
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4{
  margin: 0;
}

.progress-container{
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}

.progress{
  background: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width .1s linear;
}

/* music player section ends */


